<label>Nome do servidor</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<input type="text" class="form-control" [(ngModel)]="serverName">
<hr>
<p>{{serverName}}</p>
<hr>
<button class="btn btn-primary"
        [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<hr>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<p>{{serverCreationStatus}}</p>
<p *ngIf="serverCreated; else noServer">Servidor foi criado</p>
<ng-template #noServer>
  <p>
    Servidor não foi criado
  </p>
</ng-template>

<hr>
<label>Nome de usuário</label>
<input type="text" class="form-control" [(ngModel)]="username">
<hr>
<p>{{username}}</p>
<hr>
<button class="btn btn-primary"
        [disabled]="username==''" (click)="username=''">Resetar campo</button>
<hr>

<button class="btn btn-primary" (click)="changeContent()"
        >{{contentButtonText}}</button>
<hr>
<h4>Número de clicks no botão '{{contentButtonText}}': {{numberOfShowOrHideContentClicks}}</h4>
<hr>
<p *ngIf="showContent">Conteúdo</p>
<hr>
<p *ngFor="let click of clicks; let i = index" [ngStyle]="{backgroundColor: getContentColor(i),
color: getContentColor(i)=='red' ? 'white' : 'black'}">Click de número {{i}}</p>


